/*import fontawesome emojies*/
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

html,
body {
  background-color: #001b31;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header-pad{
  padding-top: 5%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #1a1a2e;
}

/*width and height of the images*/
.container div img {
  width: 350px;
  height: 200px;
}

.container div img:hover {
  filter: opacity(0.5);
}

.container div {
  padding-top: 100px;
  position: absolute;
  margin: 0 auto 0 auto;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 24px;
}

#backgroundContainer {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 80%;
}

#backgroundContainer .questionPeople, #backgroundContainer .frontpage-img {
  width: 100%;
  height: 90%;
}

#backgroundContainer .questionPeople {
  height: 40%;
  width: 30%;
  margin: 20% 0 20% 60%;
}

#backgroundContainer .location-marker {
  display: inline;
  width: 10%;
}

#frontpage-container1,
#frontpage-container2,
#frontpage-container3 {
  position: relative;
}

.content-frontpage {
  margin: 20% 0 0 10%;
  position: absolute;
  width: 40%;
  height: 30%;
  z-index: 100;
}

#locationButtons {
  position: relative;
}

#backgroundContainer button {
  width: 44%;
  height: auto;
  background-color: #df6020;
  margin-top: 3%;
  margin-left: 1%;
  border: none;
  padding: 1% 1%;
  text-align: left;
  
}

#frontpage-container3 button {
  margin-left: unset;
  text-align: center;
}

#backgroundContainer #frontpage-container3 button span{
  padding: unset;
  text-align: center;
}

#backgroundContainer button:hover {
  opacity: 0.8;
}

#backgroundContainer button span {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1.75em;
  opacity: 0.75;
  padding: 0 0 0 5%;
  text-align: center;
  margin-top: -10%;
}

#backgroundContainer .locationButtons span{
  text-align: left;
}

#backgroundContainer .titletext {
  width: 90%;
}

h1,
h2 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #001b31;
  margin: 0;
}

h1 {
  font-size: 5em;
}

h2 {
  font-weight: 10;
  margin: 0px 0px -3% 1%;
  font-size: 3em;
}

.title2 h1,
.title2 h2,
.title3 h1,
.title3 h2 {
  color: #df6020;
}

.title1{
  width: 80%;
}

.title1 h2{
  margin-bottom: -7%;
}

.title2 {
  width: 95%;
}
.title3 {
  width: 100%;
}

.title3 h1 {
  font-size: 2.5em;
}

.title3 h2 {
  font-size: 1.5em;
  margin-bottom: -2%;
}

.title2 .hl,
.title3 .hl {
  border-top: 2px solid whitesmoke;
}

.title2 p {
  padding: 1%;
  width: 80%;
}

.hl {
  border-top: 2px solid #001b31;
  width: inherit;
}

#backgroundContainer .questionPeople img {
  position: relative;
  width: 25%;
  height: 25%;
  margin-left: 60%;
  margin-top: 20%;
}
/*FIND-RESTAURANT*/

.restaurant-image {
  width: 150px;
  height: 150px;
  margin: 15px;
  border: solid 3px #df6020;
}

.restaurant-website {
  position: absolute;
  margin-left: 55%;
  top: 85%;
  font-family: Open Sans;
  color: #df6020;
  font-size: 0.65em;
}

.restaurant-container {
  position: relative;
  background-color: #001b31;
  width: 45%;
  float: left;
  margin: 15px;
  box-shadow: 7px 7px rgba(0, 0, 0, 0.75);
}

.restaurant-text {
  position: absolute;
  color: #df6020;
  top: 35%;
  margin-left: 55%;
}

.restaurant-text p {
  padding: 2px 0 4px 0;
  font-size: 0.65em;
  font-family: Helvetica, sans-serif;
}

.restaurant-title {
  position: absolute;
  margin-left: 55%;
  top: 5%;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #df6020;
  font-size: 15px;
  text-decoration: underline;
  font-weight: bolder;
}

.restaurant-rating {
  position: absolute;
  margin-left: 55%;
  bottom: 15%;
}

.restaurant-rating {
  border: none;
  float: left;
}

.restaurant-rating > input {
  display: none;
}

.restaurant-rating > label:before {
  margin: 5px;
  font-size: 1em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.restaurant-rating > .half:before {
  content: "\f089";
  position: absolute;
}

.restaurant-rating > label {
  color: #ddd;
  float: right;
}

.restaurant-pricing {
  position: absolute;
  margin-left: 55%;
  bottom: 25%;
}

.restaurant-pricing {
  border: none;
  float: left;
  white-space: nowrap;
}

.restaurant-pricing > input {
  display: none;
}

.restaurant-pricing > label:before {
  margin: 5px;
  font-size: 1em;
  font-family: FontAwesome;
  display: block;
  content: "\f155";
}

.restaurant-pricing > label {
  color: #ddd;
  float: right;
}

.titletext {
  top: 165px;
  left: 130px;
}

/*HEADER*/

#navbar-wrapper {
  padding-left: 1%;
  width: 100%;
  background-color: #001b31;
  position: fixed;
  height: 10%;
  overflow: auto;
  z-index: 10000;
  margin: unset;
}

ul#navbar{
  list-style-type: none;
  margin-right: 10%;
}


ul#navbar li a {
  color: #ffffff;
  padding: 1%;
  text-decoration: none;
  float: right;
  right: 5%;
}



#footer{
  margin: 0 auto;
  position: relative;
  margin-top: 3%;
  width: 100%;
}

#footer .logo{
  width: 10%;
  left: unset;
}

#footer * {
  color: white;
  list-style-type: none;
  position: relative;
}

#footer ul{
  margin-left: 10%;
}

#footer li {
  padding-top: 1%;
}

#footer .imageLiElement{
  display: inline;
}

#footer .imageLiElement img{
  width: 3%;
  padding: 2% 1% 0 0;
}

#footer .imageLiElement img:hover{
  opacity: .8;
}

.footer-padding{
  margin-top: 15%;
}

ul#navbar li a.active {
  /* background-color: #0f3460; */
  color: white;
  border-bottom: 3px solid #df6020;
}

ul#navbar li a:hover:not(.active) {
  background-color: #555;
}

div.content {
  margin-left: 0;
  padding: 1px 16px;
  height: 1000px;
}
.logo {
  content: url(../img/logo_spisitrondheim-01.png);
  height: 50%;
  position: absolute;
  top: 25%;
  left: 15%;
}
@media screen and (max-width: 700px) {
  #navbar-wrapper{
    position: relative;
    height: 20%;
    margin-bottom: 5%;
  }

  ul#navbar{
    text-align: center;
  }

  ul#navbar li{
    padding-bottom: 2%;
  }

  ul#navbar li a {
    text-align: center;
    float: none;
  }

  ul#navbar li .logo {
    content: none;
  }
}

p {
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  margin-bottom: 0;
  margin-top: 0px;
}

#testImageClass {
  border: solid 12px #dfdfdf;
}

.controls {
  border-radius: 5%;
  width: 15%;
  margin-left: 5%;
  margin-top: 2%;
  position: fixed;
  background-color: #001b31;
  z-index: 100;
  padding: 1% 0 1% 1%;
  border: solid 2px #df6020;
}

fieldset,
label {
  margin: 0;
  padding: 0;
}

/*BOTH THE RATING AND PRICE CSS STYLING IS INSPIRED BY : https://stackoverflow.com/questions/58039721/issue-with-star-rating-css*/
/*STARTS HERE*/
#pricing {
  border: none;
  float: left;
  white-space: nowrap;
}

#pricing > input {
  display: none;
}

#pricing > label:before {
  margin: 5px;
  font-size: 1em;
  font-family: FontAwesome;
  display: block;
  content: "\f155";
}

#pricing > label {
  color: #ddd;
  float: right;
}


#pricing > input:checked ~ label,
#pricing:not(:checked) > label:hover,
#pricing:not(:checked) > label:hover ~ label {
  color: #df6020;
}

#pricing > input:checked + label:hover, /* hover current star when changing rating */
#pricing > input:checked ~ label:hover,
#pricing > label:hover ~ input:checked ~ label, /* lighten current selection */
#pricing > input:checked ~ label:hover ~ label {
  color: #df6020;
}

#rating {
  border: none;
  float: left;
}

#rating > input {
  display: none;
}

#rating > label:before {
  margin: 5px;
  font-size: 1em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

#rating > .half:before {
  content: "\f089";
  position: absolute;
}

#rating > label {
  color: #ddd;
  float: right;
}
/*STARTS HERE*/

/***** CSS Magic to Highlight Stars on Hover *****/

#rating > input:checked ~ label, /* show gold star when clicked */
  #rating:not(:checked) > label:hover, /* hover current star */
  #rating:not(:checked) > label:hover ~ label {
  color: #df6020;
} /* hover previous stars in list */

#rating > input:checked + label:hover, /* hover current star when changing rating */
  #rating > input:checked ~ label:hover,
  #rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  #rating > input:checked ~ label:hover ~ label { color: #e1723b;  } 

/*ENDS HERE*/
  p {
    display: inline-block;
    width: 100%;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    margin-bottom: 0;
    margin-top: 0px;
  }
  
/* ikke synne jeanette */
input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #df6020;
  height: 5px;
}

input[type="range"]::-moz-range-track {
  background: #df6020;
  height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: #df6020;
  margin-top: -5px;
  border-radius: 50%;
  border: solid 1px white;
}

input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background: #df6020;
  margin-top: -5px;
  border-radius: 50%;
}

.mapButtonOpen {
  position: absolute;
  left: 40%;
  top: 40%;
  width: auto;
  height: auto;
  padding: 5px 8px 5px 8px;
  border-radius: 10px;
  border: solid white 1px;
  color: white;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  background-color: #df6020;
  z-index: 2;
}

.mapButtonClose {
  position: absolute;
  left: 97%;
  top: 0%;
  width: auto;
  height: auto;
  /*padding: 5px 12px 5px 12px;*/
  padding: 0.5% 1% 0.5% 1%;
  border: solid white 1px;
  color: white;
  border: none;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  background-color: #df6020;
  z-index: 2;
}

.mapButtonClose > input,
.mapButtonOpen > input {
  display: none;
}

#main-page-wrapper{
  width: 55%;
  margin: 0 auto;
  min-height: 100%;
  margin-bottom: -10%;
  overflow: auto;
}

.map {
  position: absolute;
  width: 300px;
  height: 200px;
  margin-left: 76%;
  margin-top: 1%;
}

.expandedMap {
  position: absolute;
  margin: 0 auto;
  margin-top: 5%;
  width: 80%;
  height: 600px;
  margin-left: 10%;
}

#mapBox {
  position: relative;
  margin: 0 auto;
  height: 20%;
  width: 100%;
  z-index: 2;
}

.mapButtonClose:hover,
.mapButtonOpen:hover {
  opacity: 0.5;
}

/*Styling the infoWindow on map*/

.infoWindowElement .infoTitle,
.infoWindowElement span {
  font-weight: bold;
}

.infoWindowElement * {
  margin-bottom: 2%;
}

.infoWindowElement a {
  color: #df6020;
}

.infoWindowElement .infoTitle {
  color: #df6020;
  margin-bottom: 3%;
  font-size: 15px;
}


@media only screen and (max-width: 700px) {
  #footer .imageLiElement img {
    width: 7%;
    padding: 2% 1% 0 0;
}

#footer .logo {
  width: 30%;
  left: unset;
}

#footer ul{
  font-size: 0.75em;
}

}

@media only screen and (max-width: 700px) {
  #main-page-wrapper {

    margin-top: 55%;
    width: 90%;
    height: 60%;
  }

  .controls {
    width: 70%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding: 1% 0 10% 1%;
    margin-bottom: 5%;
  }
 #pricing{
   margin: auto 30%

  }
 #rating{
    margin: auto 22%;
  }

  .restaurant-container {
    width: 100%;
    margin-top: 10%;
  }

  .restaurant-container > {
    margin-left: 0;
  }

  .restaurant-text{
    top: 25%;
  }

  .restaurant-text{
    top: 25%;
  }

  .restaurant-pricing{
    bottom: 35%;
  }
  .restaurant-rating  {
    bottom: 25%;
  }

  .restaurant-image {
    position: relative;
  }

  .restaurant-website {
    position: relative;
    margin: 0 0 5% 60%;
    font-size: 0.7em;
  }

  .map {
    margin: 0%;
    width: 100%;
  }

  .expandedMap {
    margin: 0%;
    width: 100%;
  }

  .mapButtonClose {
    left: 92%;
  }
}

/*RESPONSIVE FRONTPAGE*/

@media only screen and (max-width: 700px) {
  #backgroundContainer img:not(.location-marker) {
    display: none;
  }
  #backgroundContainer [id*="frontpage-container"]:not([id="frontpage-container1"]) {
    display: none;
  }
  #backgroundContainer button {
    width: 80%;
  }

  #backgroundContainer #frontpage-container1{
    width: 100%;
    height: 100%;
    margin-bottom: 20%;
  }

  h1,
  h2 {
    color: #df6020;
  }

  h1 {
    font-size: 2em;
    margin-top: 4%;
    margin-bottom: 8%;
  }

  h2 {
    font-size: 1.5em;
  }

  .map {
    margin: 0%;
    width: 100%;
  }

  .expandedMap {
    margin: 0%;
    width: 100%;
  }

  .mapButtonClose {
    left: 92%;
  }
}


@media only screen and (max-width: 700px) {

  #backgroundContainer img:not(.location-marker) {
    display: none;
  }
  #backgroundContainer [id*="frontpage-container"]:not([id="frontpage-container1"]) {
    display: none;
  }

  #backgroundContainer div{
    width: 100%;
  }

  h1,
  h2 {
    color: #df6020;
  }

  h1 {
    font-size: 2em;
    margin-top: 4%;
    margin-bottom: 8%;
  }

  h2 {
    font-size: 1.5em;
  }


}



/*some styling for "about us"*/
#about-us-wrapper{
  width: 100%;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

#about-us-wrapper .img-header {
    margin-top: 5%;
    width: 100%;
 }

 #our-team, #information, .about{
  margin: 2% 15%;
  color: #ffffff;
}

 /*styling the headline*/
#about-us {
    font-size: 4em;
    color: #ffffff;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
}

 #information{
    column-count: 2;
    column-gap: 3%;
    column-span: all;
    font-size: 0.75em;
    max-width: 70%;
}


#about-us-wrapper h1{
  color: #df6020;
  text-align: center;
}

h5,h6{
  color: #ffffff;
  max-width: 70%; 
  margin: 0 auto;
}

h5{
  font-size: 1.2em;
}

h6{
  font-size: 0.75em;
}

.about  {
    font-size: 0.75em;
    max-width: 70%;
}

#our-team {
    font-size: 4em;
    color: #df6020;
    text-transform: uppercase;
}

.col-1, .col-2, .col-3  {
    float: left;
    width: 30%;
}

.team{
    margin: 0 auto;
    text-align: center;
}

.team, .profile {
    max-width: 60%;
}

@media screen and (max-width: 700px) {

 .team{
   margin-top: 10%;
 }

 .team [class*="row"], .team [class*="col"]{
   margin-top: 5%;
 }

  .img-header{
   visibility: hidden;
   height: 50%;
    width: 60%;
}
#information {
    top: -30%;
    column-count: 1;
}

.col-1, .col-2, .col-3 {
  float: left;
  width: 100%;
  text-align: center;
}
}
 
/*About us styling ferdig her*/

/* Kontakt oss side */

.contact_us {
  background-image: url("../img/kontakt_oss.png");
  width: 100%;
  min-height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  color: #df6020;
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

/* Skjema kontakt oss */
.form_background {
  background-image: url("../img/bacground_form.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-form * {
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}

.contact-form input {
  outline: none;
  border: none;
}

/* Gjør at tekstramme forsvinner MULIG KRÆSJ*/
.contact-form textarea {
outline: none;
border: none;
}

/* Container til skjema */ 

.container-form {
width: 100%;  
min-height: 100vh;
justify-content: center;
align-items: center;
display: flex;
padding: 15px;
background: transparent;
}

.wrap-form {
width: 670px;
background: #fff;
border-radius: 10px;
overflow: hidden;
position: relative;
background-color: #001b31;
}

/* Bakgrunnbildet til skjema */
.form-img {
width: 100%;
height: 10em;
padding: 15%;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

/* Innhold skjema */

.contact-form {
width: 100%;
display: flex;
flex-wrap: wrap;
background-color: white;
justify-content: space-between;
padding: 20px 20px 20px 160px;
}

/* Input */

.wrap-input1 {
width: 100%;
position: relative;
border-bottom: 1px solid #494848;
margin-bottom: 26px;
}

.label-input1 {
font-family: 'Open Sans', sans-serif;
text-transform: uppercase;
font-size: 15px;
color: #df6020;
line-height: 1.2;
text-align: right;
position: absolute;
top: 14px;
left: -105px;
width: 80px;

}

/* Input style, linje blir oransje og placeholder tekst. */
.input1 {
font-family: 'Open Sans', sans-serif;
font-size: 15px;
color: #555555;
line-height: 1.2;
display: block;
width: 100%;
padding: 0 5px;
}

.focus-input1 {
position: absolute;
display: block;
width: 100%;
height: 100%;
top: 0;
left: 0;
pointer-events: none;
}

.focus-input1::before {
content: "";
display: block;
position: absolute;
bottom: -1px;
left: 0;
width: 0;
height: 1px;

-webkit-transition: all 0.6s;
-o-transition: all 0.6s;
-moz-transition: all 0.6s;
transition: all 0.6s;

background: #df6020;
}

input.input1 {
  height: 45px;
}

textarea.input1 {
  min-height: 115px;
  padding-top: 14px;
  padding-bottom: 13px;
  resize: none;
}

.input1:focus + .focus-input1::before {
  width: 100%;
}

/* Button */
.container-contact-form-button {
width: 100%;
display: flex;
flex-wrap: wrap;
padding-top: 8px;
}

.contact-form-button {
display: flex;
justify-content: center;
align-items: center;
padding: 0 20px;
min-width: 160px;
height: 50px;
background-color: #df6020;
border-radius: 25px;

font-family: 'Open Sans', sans-serif;
font-size: 16px;
color: #fff;
line-height: 1.2;

-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
transition: all 0.4s;
}

.contact-form-button:hover {
background-color: #1a1a2e;
}

/* Responsiv form */

@media (max-width: 700px) {
.contact-form {
  padding: 43px 15px 57px 15px;
}

.label-input1 {
  text-align: left;
  position: unset;
  top: unset;
  left: unset;
  width: 100%;
  padding: 0 5px;
}
}

@media only screen and (max-width:700px) {
  .contact_us{
    display: none;
  }
  
  .container-form{
    margin: unset;
    padding-top: 25%;
    width: 90%;
  }

  .contact_text {
    top: unset;
    font-size: 45px;
  }
}