article {
    width: 75ch;
    margin: auto;
    line-height: 1.5;
}

body {
    font-family: Verdana;
    background-color: lightgray;
    color: #323232;
}

h1 {
    font-size: 3em;
    margin-bottom: 0px;
}

h2 {
    font-size: 1.8em;
}

img {
    width: 100%;
}

section {
    font-size: 18px;
}

#byline {
    margin-top: 0px;
}

#facts {
    margin: 1em 0em 1em 1em;
    width: 50%;
    border: 1px dashed;
    float: right;
}

#facts > ul {
    line-height: 1.5em;
    padding-left: 1.5em;
}

#intro {
    border-top: 1px solid;
}
